body {
    background-color: #e8f6f3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #0b5345;
    margin-bottom: 20px;
}

p {
    color: #2c3e50;
    font-size: 18px;
}
#encabezado {
    background-color: #cc23dd;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#encabezado h1{
    color: black;
}
.encabezado1 {
    color: white;
}
.encabezado2 {
    color: aqua;
}
.encabezado3 {
    color: antiquewhite;
}
.logo {
    width: 10px;
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 50px;
}
.menu {
    width: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(148, 196, 65);
}
.menu ul li {
    float: left;
}
.menu u1 li a {
    display: block;
    color: rgb(14, 113, 191);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.menu ul li a:hover {
    color: #fff;
    background-color: rgb(14, 113, 191);
}
.redes {
    width: 10px;
    height: 100px;
    background-color: rgb(228, 188, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}
