body {
    background-color: #e8f6f3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #0b5345;
    margin-bottom: 20px;
}

p {
    color: #2c3e50;
    font-size: 18px;
}
#encabezado {
    background-color: #cc23dd;
    min-height: 200px;
    height: auto;
    width: 500px;
}
#encabezado h1{
    color: black;
}
.encabezado1 {
    color: white;
}
.encabezado2 {
    color: aqua;
}
.encabezado3 {
    color: antiquewhite;
}
